.info-box {
  position: absolute;
  width: 300px;
  z-index: 9999;
  //height: call(100vh - 50px);
  background-color: rgb(235, 235, 235);
  left: 10px;
  top: 10px;
  bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  overflow-y: auto;
  box-sizing: content-box;
  transition: all .5s linear;
  &.close {
    //display: none !important;
    //visibility: hidden !important;
    transform: translateX(-105%);
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    
  }
  &::-webkit-scrollbar {
    width: 7px;  /* Remove scrollbar space */
    //background: transparent;  /* Optional: just make scrollbar invisible */
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(156, 156, 156, 0.808);
  }
  /* Optional: show position indicator in red */
  &::-webkit-scrollbar-thumb {
    background: rgb(134, 134, 134);
    height: 5px;
    width: 5px;
    &:hover {
      background: rgb(122, 122, 122);
    }
  }
  &__title {
    text-align: left;
    width: 100%;
    h3 {
      font-weight: 600;
      font-size: 18px;
      padding: 0;
      margin: 0;
    }
    span {
      font-size: 14px;
      font-weight: 300;
    }
  }
  &__content {
    margin-top: 20px;
    h3 {
      font-size: 18px;
      font-weight: 500;
    }
  }
}