@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800&display=swap&subset=cyrillic');
body, html, *, #root {
  margin: 0;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  color: #202020;
}
::before, ::after {
  box-sizing: border-box;
}
body {
  font-family: 'Exo 2', sans-serif !important;
}
.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.gm-fullscreen-control {
  top: auto !important;
  bottom: 94px !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
